<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% arr.forEach(function (arrr) { %>  
        <div style="background-color: cyan;">
       First-name : <p style="color: rgb(255, 0, 43);"><%=arrr.fname %></p>
       Last-name : <p style="color: rgb(255, 0, 43);"><%=arrr.fname %></p>
       Link:   <a href="</a><%=arrr.link%>"> <%=arrr.link%></a><br> <br>
    Difficulty: <%=arrr.difficulty%>
        <br>


    ....................................................................
    <br><br><br><br>
       </div>
    <% }) %>
     
</body>
</html>